/*stylesheet*/
body {
  background: url("http://imagecache.artistrising.com/artwork/lrg//5/512/FGR6000A.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 50%;

}

p {
  color: red;
  text-align: center;
  font-family: cursive;
  font-size: 52;
}
img {
float: right;
}
.image {
  border: solid 1px black;
}
