/*stylesheet*/
body {
  background: url("http://s11.favim.com/orig/160220/amazing-art-artistic-black-Favim.com-4022821.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

p {
  color: red;
  text-align: center;
  font-family: cursive;
  font-size: 52;
}
img {
float: right;
}
.image {
  border: solid 1px black;
}
